
/* body{
    background-image:url("assets/image/trailfront.png");
    background-repeat: no-repeat;
  } */
  /* .start_button { 
    height: 200px;
    position: relative;
    border: 3px solid green; 
    margin-top: 400px;
  } */
  
  .start_center {
    margin:auto;
    position: absolute;
    top: 40%;
    left: 30%;
    right:30%;
    background-color: rgb(59, 182, 59);
    font-size:50px;
    text-align: center;
    color: black;
  
  }
    

#header {
    background-color: green;
    margin: 0 0 1rem 0;
}
#header h1 {
    font-size: 4rem;
    color: white;
}
.search {
    background-color: rgb(181, 181, 181);
    padding: 2rem 0rem;
    margin: 1rem 1rem;
    
}
#map {
    justify-content: center;
    position: fixed; 
    top: 14rem; 
    bottom: 0; 
    left: 26%;
    right: 1rem;

}
/* .map {
    border-left: 1px solid #fff;
    position: absolute;
    left: 33.3333%;
    width: 66.6666%;

    top: 0;
    bottom: 0;
    border: solid darkgray 1px;
  } */
#info {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    padding: 10px;
    border: solid darkgray 1px;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
    }

.sidebar {
    position: fixed;
    top: 14rem; 
    bottom: 0; 
    left:1rem;
    right: 75%;
    border: solid darkgray 1px;
    
}
.pad2 {
padding: 20px;
overflow-y: auto;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}
